* text=auto

*.sh text eol=lf
*.command text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.icns binary
*.mp4 binary
*.mov binary
*.xlsx binary
